*{
    margin: 0px;
    font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
}

header{
    width: 100%;
    height: 80px;
    background-color: #006a9e;
    box-shadow: 0px 3px 7px black;
    position: relative;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}
.h1{
    width: 100%;
    height:50px;
    background-color: skyblue;
}

.rightx{
 
    padding: 5px;
    
    
    
}
.leftx{
    padding-left: 15px;
    background-image: linear-gradient(yellow,rgb(179, 116, 0));
    font-size: larger;
    color: maroon;
    font-weight: bolder;
    padding: 3px;
   
    
    
}

.rightx ul{list-style-type: none;}
.rightx li{display: inline-block;padding: 12px;color: white;}

.container{
    width: 90%;
    margin: 6%;
    margin-top: 0%;
    height: auto;
    background-color: lightblue;
    
    
}
.container h2{
    text-align: center;
    margin: 20px;
}
h1{
    text-align: center;
    padding: 10px;
    color: blue;
}
.buttongrp{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 50px;
    row-gap: 50px;
    margin: 50px ;
}
.slice{
   background-image: url(Slice.jpg);
    background-repeat: no-repeat;
    background-size: 13vw;
    color: purple;
    border-radius: 20px;
    width: 100%;
    height: 200px;
    border: 3px blue solid;
    text-align: right;
    font-size: 38px;
}
.unicard{
    background-image: url(unicard.jpeg);
     background-repeat: no-repeat;
     background-size: 13vw;
     color: lightseagreen;
     border-radius: 20px;
     width: 100%;
     height: 200px;
     border: 3px blue solid;
     text-align: right;
     font-size: 35px;
 }
 .onecard{
    background-image: url(onecard.png);
     background-repeat: no-repeat;
     background-size: 13vw;
    
     border-radius: 20px;
     width: 100%;
     height: 200px;
     border: 3px blue solid;
     text-align: right;
     font-size: 33px;
 }
 .bob{
    background-image: url(bob.jpg);
     background-repeat: no-repeat;
     background-size: 13vw;
     color: orangered;
     border-radius: 20px;
     width: 100%;
     height: 200px;
     border: 3px blue solid;
     text-align: right;
     font-size: 1.5vw;
 }
 .sbi{
    background-image: url(sbi.jpg);
     background-repeat: no-repeat;
     background-size: 13vw;
     color: blue;
     border-radius: 20px;
     width: 100%;
     height: 200px;
     border: 3px blue solid;
     text-align: right;
     font-size: 1.5vw;
 }
 .kotak{
    background-image: url(kotak.jpg);
     background-repeat: no-repeat;
     background-size: 13vw;
     color: red;
     border-radius: 20px;
     width: 100%;
     height: 200px;
     border: 3px blue solid;
     text-align: right;
     font-size: 1.5vw;
 }

button:hover{
    opacity: 0.7;
    
}

p{
    margin: 20px;
    font-size: 25px;
}
ul{
    font-size: 20px;
    color: rgb(71, 69, 69);
}
.first-card h2{
    text-align: center;
    background-color: white;
    font-size: 30px;
    color: purple;
}
.first-card{
    border-top: 5px purple solid;
    
    font-display: justify;
}
.second-card h2{
    text-align: center;
    background-color: white;
    font-size: 30px;
    color: lightseagreen;
}
.second-card{
   border-top: 5px lightseagreen solid;
    font-display: justify;
}
.third-card h2{
    text-align: center;
    background-color: white;
    font-size: 30px;
    color: black;
}
.third-card{
    border-top: 5px black solid;
    font-display: justify;
}
.forth-card h2{
    text-align: center;
    background-color: white;
    font-size: 30px;
    color: orangered;
}
.forth-card{
    border-top: 5px orangered solid;
    font-display: justify;
}
.fifth-card h2{
    text-align: center;
    background-color: white;
    font-size: 30px;
    color: blue;
}
.fifth-card{
    border-top: 5px blue solid;
    font-display: justify;
}
.sixth-card h2{
    text-align: center;
    background-color: white;
    font-size: 30px;
    color: red;
}
.sixth-card{
    border-top: 5px red solid;
    font-display: justify;
}
.headdiv div{
    margin-bottom: 15px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #161619;
    color: white;
    
}
@media screen and (min-width:360px) and (max-width: 420px){
    header{
        width:100%;
        height: 40px;
        font-size: 10px;
    }
    
    li{
        font-size: 10px;
    }
    h1{
        height: 30px;

    }
    .h1{
        font-size: 10px;
    }
    h2{
        font-size: 15px;
    }
    .buttongrp{
        display: flex;
        flex-direction: column;
        margin: 10px ;
    }
    .slice{
        background-size:contain;
        font-size: 25px;
    }
    .unicard{
        background-size: contain;
        font-size: 25px;
    }
    .onecard{
        background-size: contain;
        font-size: 22px;
    }
    .bob{
        background-size: contain;
        font-size: 20px;
    }
    .sbi{
        background-size: contain;
        font-size: 20px;
    }
    .kotak{
        background-size: contain;
        font-size: 20px;
    }
    .headdiv h2{
        font-size: 20px;
    }
    .headdiv p{
        font-size: 15px;
        margin: 1px;
    }
    .headdiv li{
        font-size: 12px;
    }
    
}
